.cryptoRow {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.cryptoName {
    color: darkcyan;
    width: 200px;
    text-align: left;
}

.cryptoRank {
    color: green;
    width: 60px;
    text-align: right;
}

.currPositive {
	background-color: green;
}

.currNegative {
	background-color: red;
}

.cryptoPrice {
    padding: 5px;
    margin-left: 30px;
    width: 130px;
    text-align: right;
}

.cryptoChange {
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #eee;
    border-radius: 3px;
    width: 60px;
    text-align: right;
}
